:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

.info-text {
  text-align: center;
}

button {
  margin: 10px 0px 0px 0px;
}

mat-form-field {
  margin: 0px 10px 0px 0px;
}

.mat-body-2 {
  text-align: center;
}
