<mat-card>
  <form (submit)="onSavePlant(plantForm)" #plantForm="ngForm">
    <mat-form-field>
      <mat-label>Augalo pavadinimas</mat-label>
      <input
        matInput
        type="text"
        name="name"
        [ngModel]="plant?.name"
        required
        pattern="^.{1,20}$"
        placeholder="Bulvė"
        #title="ngModel">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Žemės tipas</mat-label>
      <input
        matInput
        type="text"
        name="soil"
        [ngModel]="plant?.soil"
        required
        pattern="^.{1,20}$"
        placeholder="Dirva"
        #title="ngModel">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Apšvietimas (%)</mat-label>
      <input
        matInput
        type="number"
        name="sunshine"
        [ngModel]="plant?.sunshine"
        required
        pattern="^[1-9][0-9]?$|^100$"
        placeholder="20"
        #title="ngModel">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Drėgnumas (%)</mat-label>
      <input
        matInput
        type="number"
        name="moisture"
        [ngModel]="plant?.moisture"
        required
        pattern="^[1-9][0-9]?$|^100$"
        placeholder="40"
        #title="ngModel">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Vėjuotumas (%)</mat-label>
      <input
        matInput
        type="number"
        name="wind"
        [ngModel]="plant?.wind"
        required
        pattern="^[1-9][0-9]?$|^100$"
        placeholder="15"
        #title="ngModel">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Trąšų tipas</mat-label>
      <input
        matInput
        type="text"
        name="fertilizer"
        [ngModel]="plant?.fertilizer"
        required
        pattern="^.{1,20}$"
        placeholder="Šarminis"
        #title="ngModel">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Trąšų kiekis (g)</mat-label>
      <input
        matInput
        type="number"
        name="fertilizerAmount"
        [ngModel]="plant?.fertilizerAmount"
        required
        pattern="\d{1,5}"
        placeholder="10"
        #title="ngModel">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tręšimo periodiškumas (d)</mat-label>
      <input
        matInput
        type="number"
        name="fertilizerPeriod"
        [ngModel]="plant?.fertilizerPeriod"
        required
        pattern="\d{1,5}"
        placeholder="2"
        #title="ngModel">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Laistymo periodiškumas (d)</mat-label>
      <input
        matInput
        type="number"
        name="wateringPeriod"
        [ngModel]="plant?.wateringPeriod"
        required
        pattern="\d{1,5}"
        placeholder="3"
        #title="ngModel">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Vandens kiekis laistymui (l)</mat-label>
      <input
        matInput
        type="number"
        name="wateringAmount"
        [ngModel]="plant?.wateringAmount"
        required
        pattern="\d{1,5}"
        placeholder="2"
        #title="ngModel">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Sėklų kiekis (g)</mat-label>
      <input
        matInput
        type="number"
        name="seed"
        [ngModel]="plant?.seed"
        required
        pattern="\d{1,5}"
        placeholder="3"
        #title="ngModel">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Sėklų kaina (eur)</mat-label>
      <input
        matInput
        type="number"
        name="price"
        [ngModel]="plant?.price"
        required
        pattern="\d{1,5}"
        placeholder="5"
        #title="ngModel">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Augalo derlius (kg)</mat-label>
      <input
        matInput
        type="number"
        name="yieldCrop"
        [ngModel]="plant?.yieldCrop"
        required
        pattern="\d{1,5}"
        placeholder="3"
        #title="ngModel">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Augalo spalva</mat-label>
      <input
        matInput
        type="text"
        name="color"
        [ngModel]="plant?.color"
        required
        pattern="^.{1,20}$"
        placeholder="Raudona"
        #title="ngModel">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Žydėjimo mėnuo</mat-label>
      <input
        matInput
        type="text"
        name="blossomTime"
        [ngModel]="plant?.blossomTime"
        required
        pattern="^.{1,20}$"
        placeholder="Rugsėjis"
        #title="ngModel">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Žydėjimo trukmė (sav)</mat-label>
      <input
        matInput
        type="number"
        name="blossomPeriod"
        [ngModel]="plant?.blossomPeriod"
        required
        pattern="\d{1,5}"
        placeholder="3"
        #title="ngModel">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Augalo suderinamumas</mat-label>
      <input
        matInput
        type="text"
        name="compatability"
        [ngModel]="plant?.compatability"
        required
        pattern="^.{1,20}$"
        placeholder="Svogūnas"
        #title="ngModel">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Augalo nesuderinamumas</mat-label>
      <input
        matInput
        type="text"
        name="nonCompatability"
        [ngModel]="plant?.nonCompatability"
        required
        pattern="^.{1,20}$"
        placeholder="Morka"
        #title="ngModel">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Sėjomaina</mat-label>
      <input
        matInput
        type="text"
        name="cropRotation"
        [ngModel]="plant?.cropRotation"
        required
        pattern="^.{1,20}$"
        placeholder="Kopūstas"
        #title="ngModel">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Derliaus nuėmimo mėnuo</mat-label>
      <input
        matInput
        type="text"
        name="harvestingTime"
        [ngModel]="plant?.harvestingTime"
        required
        pattern="^.{1,20}$"
        placeholder="Rugsėjis"
        #title="ngModel">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Sodinimo mėnuo</mat-label>
      <input
        matInput
        type="text"
        name="seedingTime"
        [ngModel]="plant?.seedingTime"
        required
        pattern="^.{1,20}$"
        placeholder="Kovas"
        #title="ngModel">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Augalo aukštis (cm)</mat-label>
      <input
        matInput
        type="number"
        name="plantHeight"
        [ngModel]="plant?.plantHeight"
        required
        pattern="\d{1,5}"
        placeholder="120"
        #title="ngModel">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Augalo persodinimo mėnuo</mat-label>
      <input
        matInput
        type="text"
        name="transplant"
        [ngModel]="plant?.transplant"
        required
        pattern="^.{1,20}$"
        placeholder="Gegužė"
        #title="ngModel">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Augalo auginimo patarimai</mat-label>
      <input
        matInput
        type="text"
        name="hints"
        [ngModel]="plant?.hints"
        required
        pattern="^.{1,100}$"
        placeholder="Auginti šiltnamyje"
        #title="ngModel">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Atstumas tarp kitų augalų (cm)</mat-label>
      <input
        matInput
        type="number"
        name="spacing"
        [ngModel]="plant?.spacing"
        required
        pattern="\d{1,5}"
        placeholder="20"
        #title="ngModel">
    </mat-form-field>
    <mat-card-actions align="end">
      <button
        mat-raised-button
        routerLink="/plantlist">Grįžti</button>
      <button
        mat-raised-button
        color="primary"
        (click)="toggleChecker()"
        *ngIf="checker">Išsaugoti</button>
        <button
        mat-raised-button
        color="primary"
        type="submit"
        *ngIf="!checker">Ar tikrai?</button>
    </mat-card-actions>
  </form>
</mat-card>
