<h1 class="mat-h1" style="text-align: center;">Sveiki!</h1>
<h3 class="mat-h3" style="text-align: center;">Susikurkite svajonių daržą vos per 5 minutes!</h3>
<div class="container">
  <div class="square">
    <p class="mat-body-3">Visada norėjote turėti savo daržą?</p>
  </div>
  <div class="square">
    <p> Tačiau nežinote nuo ko pradėti?</p>
  </div>
  <div class="square">
    <p>Jums padės ši sistema!</p>
  </div>
  <div class="square">
    <p>Nuo A iki Z vos per 5 minutes!</p>
  </div>
</div>
<div style="margin: 50px 0px 0px 0px;">
  <h3 class="mat-h3" style="text-align: center; margin: 10px;">Kaip susikurti savo svajonių daržą?</h3>
</div>
<div class="container">
  <div class="square">
    <h3 class="mat-h3">1. Žingsnis</h3>
    <mat-divider></mat-divider>
    <p>Sistemoje įveskite savo daržo duomenis</p>
    <mat-form-field>
      <mat-select disabled placeholder="Žemės tipas">
      </mat-select>
    </mat-form-field>
  </div>
  <div class="square">
    <h3 class="mat-h3">2. Žingsnis</h3>
    <mat-divider></mat-divider>
    <p>Išsirinkite augalus pagal savo pageidavimus</p>
    <mat-form-field>
      <mat-select disabled placeholder="Saulėtumas">
      </mat-select>
    </mat-form-field>
  </div>
  <div class="square">
    <h3 class="mat-h3">3. Žingsnis</h3>
    <mat-divider></mat-divider>
    <p>Sudeliokite savo daržoves optimaliausiai</p>
    <mat-form-field>
      <mat-select disabled placeholder="Daržovė">
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="container" style="margin: 180px 0px 0px 0px;">
    <button mat-raised-button routerLink="/landing" color="primary">PRADĖTI</button>
</div>
